.bloco-motivos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 296.38px;
    width: 1320px;
    align-items: center;
}

.bi{
    font-size: 50px;
    color: orangered;
}

.titulo-motivos{
    font-size: 29.3px;
    font-weight: bold;
    margin-top: 100px;
}

.titulo-motivo{
    font-size: 17.72px;
    font-weight: bold;
}

.descricao-motivo{
    font-size: 14.88px;
    width: 256.95px;
}

.motivos{
    display: flex;
    flex-direction: column;
}

.motivo-01{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.motivo-02{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.motivo-03{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.motivo-04{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.section-center{
    display: flex;
    justify-content: center;
}